#calendar {
	background-color: #201818;
	border-bottom: 4px solid #343c27;
	display: grid;
	grid-template-rows: auto auto auto 1fr;
	min-height: 100%;
}

#date {
	text-align: center; 
	padding: 10px 0
}

#day-headers {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

#day-headers > .day-header {
	background-color: #372121;
	text-align: center;
	font-size: 0.8em;
	padding: var(--SIZE_XXS);
}