.day {
	padding: var(--SIZE_XS);
	cursor: pointer;
	border-right: 1px solid #4f4940;
	border-bottom: 1px solid #4f4940;
	display: grid;
	grid-template-rows: auto 1fr;
	grid-gap: 10px;
	height: 200px;
}

.day .events {
	overflow-x: auto;
}

.day.current {
	background-color: #575e4c52;
}

.day.current .date {
	font-weight: bold;
}

.day:hover {
	background-color: #46572c42;
	cursor: pointer;
}

.day.active {
	cursor: initial;
	background-color: #46572c;
}

.day.content .date {
	position: relative;
	text-decoration: underline;
}

.day.grayed {
	color: gray;
}

.day .date {
	grid-column: 2;
	justify-self: last baseline;
	padding: 5px
}
